<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.locker">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Locker"
        tools:targetApi="31">

        <activity
            android:name=".ScanNewCard"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_select_locker"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Locker.Fullscreen" />
        <activity
            android:name=".ScanCard"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_scan_card"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Locker.Fullscreen" />
        <activity
            android:name=".SettingMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_setting_menu"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Locker.Fullscreen" />
        <activity
            android:name=".SettingsAdmin"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_settings_admin"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Locker.Fullscreen" />
        <activity
            android:name=".LandingPAge"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Locker.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>